body {
    background: pink;
}

.paragraph1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;

}

.paragraph2 { 
    font-family: 'Times New Roman', Times, serif;
    color: blue; 
    
}
#profie{
    height: 200px; 
    width: 350px; 

}